
:root {
    --primaryTextButtonColor: #FFFFF0;
    --navBgColor: #663a82;
    --bodyBgColor: #bca0dc;
    --nameBgColor: #b491c8;
}

body {
    background-color: var(--bodyBgColor);
}

.navigation {
    background-color: var(--navBgColor);
}

.nav-link {
    color: var(--primaryTextButtonColor);
}

.nav-section:hover {
    background-color: var(--primaryTextButtonColor);
    border-radius: 10px;
    color: black;
    transition: .75s;
}

  /* ==========================================
  Single-colored icons can be modified like so:
  .icon-name {
    font-size: 32px;
    color: red;
  }
  ========================================== */

.icon {
    color: var(--primaryTextButtonColor);
    display: inline-block;
    fill: currentColor;
    height: 1.5em;
    width: 1.5em;
    stroke: currentColor;
    stroke-width: 0;
  }

.icon:hover {
    border-radius: 50%;
    background-color: var(--primaryTextButtonColor);
    transition: .75s;
    color: var(--navBgColor);
}

.nav-icon-top {
    margin-left: 16px;
    margin-top: 6px;
}

.nav-icon-bottom {
    /* margin-top: 6px; */
    margin-bottom: 12px;
    padding-top: 12px;
   
}

.name {
    background-color: var(--nameBgColor);
}

.name h1 {
    color: var(--primaryTextButtonColor); 
    font-family: 'Playfair Display', serif;
    font-size: 50px;
    margin-right: 0;
    padding: 0;
}


h2, h3, .nav-link {
    font-family: 'Playfair Display', serif;
}

.headshot {
    width: 100%;
    padding: 0;
}

.headshot-col {
    padding: 0;
}

.about-me-heading {
    margin-top: 30px;
}

.about-me-heading h2 {
    color: var(--primaryTextButtonColor); 
    margin-bottom: 15px;
}

.jumbotron {
    background-color: var(--primaryTextButtonColor);
    padding: 20px 20px 5px 20px;
}

.jumbotron p {
    font-family: 'Raleway', sans-serif;
    font-weight: bolder;
}

.projects h2 {
    color: var(--primaryTextButtonColor); 
    margin-bottom: 20px;
}

.carousel-slides {
    width: 75%;
    margin: auto;
}

h3 {
    margin-bottom: 15px;
}

button {
    border: 2px solid #3c1361;
    background-color: var(--primaryTextButtonColor);
    border-radius: 5px;
    color: #52307c;
    font-family: 'Raleway', sans-serif;
    margin-bottom: 30px;
    height: 50px;
    width: 150px;
}

button:hover {
    background-color: #52307c;
    border: 2px solid var(--primaryTextButtonColor);
    color: var(--primaryTextButtonColor);
    transition: .5s;
}

#thumbnail-Detroix, #thumbnail-Restaurant, #thumbnail-Bloom {
    margin-bottom: 15px;
}

#Detroix {
    color: var(--primaryTextButtonColor);
    margin-top: 30px;
}

#Bloom {
    color: var(--primaryTextButtonColor);
    margin-top: 30px;
}

#Restaurant {
    color: var(--primaryTextButtonColor);
    margin-top: 30px;
}

.certifications-header h2 {
    color: var(--primaryTextButtonColor);
    margin-bottom: 20px;
    margin-top: 30px;
}

footer h2 {
    color: var(--primaryTextButtonColor);
}

.bottom-nav {
    width: 100%;
} 

#contact {
    margin-top: 12px;
}

.bootstrap {
    margin-bottom: 30px;
}

.certs a {
    margin-bottom: 20px; 
    text-decoration: none;
}

.certs p1 {
    font-family:'Playfair Display', serif;
}

.certs p2 {
    font-family: 'Raleway', sans-serif;
}

.certifications {
    background-color: var(--primaryTextButtonColor);
    border: 2px solid #3c1361;
    border-radius: 5px;
    color: #52307c;
    height: 160px;
    width: 425px;
}

.web-design {
    margin: 0;
}

.web-design-p1, .javascript-p1, .bootstrap-p1 {
    border-bottom: 2px solid #3c1361;    
}

.progress-hidden {
    display: none;
}

/* Certifications Hover Effects */

.certifications:hover {
    background-color: #52307c;
    border: 2px solid var(--primaryTextButtonColor);
    color: var(--primaryTextButtonColor);
    transition: .5s;
}

.web-design:hover .progress-hidden {
    color: var(--primaryTextButtonColor);
    display: block;
    font-family: 'Press Start 2P', cursive;
    font-size: 30px;
    margin-top: 50px;
}

.web-design:hover .web-design-p1 {
    display: none;
} 

.web-design:hover .web-design-p2 {
    display: none;
}

.javascript:hover .progress-hidden {
    color: var(--primaryTextButtonColor);
    display: block;
    font-family: 'Press Start 2P', cursive;
    font-size: 30px;
    margin-top: 50px;
}

.javascript:hover .javascript-p1 {
    display: none;
} 

.javascript:hover .javascript-p2 {
    display: none;
}

.bootstrap:hover .progress-hidden {
    color: var(--primaryTextButtonColor);
    display: block;
    font-family: 'Press Start 2P', cursive;
    font-size: 30px;
    margin-top: 30px;
}

.bootstrap:hover .bootstrap-p1 {
    display: none;
} 

.bootstrap:hover .bootstrap-p2 {
    display: none;
}

@media (min-width: 768px) {
    .icon-envelop {
        margin-left: -100px;
    }
}

@media (min-width: 992px) {
    .icon-envelop {
        margin-left: -230px;
    }
}

@media (min-width: 1200px) {
    .icon-envelop {
        margin-left: -350px;
    }
}